{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "globals":
  {
    "document": true
  },
  "plugins": ["jest"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}